<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    
  </head>
  <body>
   
    <!-- Pie de página -->
    <footer class="footer text-center bg-dark text-white" th:fragment="pie">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase">Localización</h4>
            <p class="">
              C/ Condes de Bustillo, 17 <br />41010 Sevilla <br />Tfno: 954 33
              14 88
            </p>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase">Quiénes Somos</h4>
            <p class="">En Ticket Music nos encargamos de <br> ofrecer la posibilidad de comprar <br> entradas para eventos musicales</p>
          </div>
        
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">RRSS</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-instagram"></i>
          </a>

          
        </div>
      </div>
      <!-- Copyright -->
        
    </footer>
    <section class="copyright py-4 text-center text-white bg-dark" th:fragment="copyright">
            <div class="container">
                <small>Copyright &copy; 2020 Ticket Music</small>
            </div>
    </section>
    
  </body>
</html>
