<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Ticket Music ofrece la posibilidad de comprar entradas para diferentes eventos
     musicales como conciertos y festivales"
    />
    <title>TicketMusic - Mi Cuenta Mis Entradas</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png" th:href="@{/img/favicon.png}"/>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/3e3a2d3ce8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/estilos-privado.css" th:href="@{/css/estilos-privado.css}"/>
    <style>
        
      main h3{
        margin-left: 60px;
        margin-top: 0px;
        margin-bottom: 10px; 
      }
      
    </style>
  </head>
  <body>
    <!-- Cabecera -->
    <header th:replace="~{fragmentos/encabezado-user::encabezado-user}">
    </header>

    <!-- Principal -->
    <main class="container-fluid pagUsuario">
    	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
        <div class="row user">
          <aside class="col-5" th:replace="~{fragmentos/encabezado-user::menu-lateral}">
          </aside>
      
            <section class="col-7">
                <div class="col-12">
                    <h4 class="font-weight-bold">Mis entradas</h4>
                    
                    <table class="table table-striped" summary="Tabla que muestra las entradas compradas por el usuario">
                        <caption></caption>
                        <thead>
                          <tr th:if="${entradas.size()} > 0">
                            <th scope="col" class="bg-info">Entrada</th>
                            <th scope="col" class="bg-info">Tipo Entrada</th>
                            <th scope="col" class="bg-info">Evento</th>
                            <th scope="col" class="bg-info">Ciudad</th>
                            <th scope="col" class="bg-info">Fecha</th>
                            <th scope="col" class="bg-info"></th>
                          </tr>
                        </thead>
                        <tbody>

							            <tr th:each="entrada: ${entradas}">
                            <th th:text="${entrada.id}">1</th>
                            <td th:text="${entrada.nombre}">Entrada General</td>
                            <td th:text="${entrada.evento.nombre}">Nombre Evento</td>
                            <td th:text="${entrada.evento.recinto.ciudad.nombre}">Ciudad Evento</td>
                            <td th:text="${#temporals.format(entrada.evento.fecha, 'dd/MM/yyyy')}">Fecha</td>
                            <td><a th:href="@{/user/entradas/pdf/{id}(id=${entrada.id})}">Descargar Entrada</a></td>
                          </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                      </table>
                      <p th:if="${entradas.size()} == 0">Actualmente no tiene ninguna entrada comprada</p>
                </div>
            </section>
        </div>
    </main>

    <!-- Pie de página -->
    <footer th:replace="~{fragmentos/pie::pie}">
    </footer>
    <section th:replace="~{fragmentos/pie::copyright}"></section>
  </body>
</html>
